// Bootswatch
@import 'variables';
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Flag Icon CSS
// -- Temporary fix of missing variables
// -- https://github.com/lipis/flag-icons/pull/867
$flag-icon-css-path: '../flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;
@import '~flag-icon-css/sass/flag-icons';

// Others
@import "custom";
