[x-cloak] {
    display: none !important;
}

input[type="time"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

// TODO: Fix margin-left on mobile
.user-avatar-decoration {
    width: 80px;
    height: 80px;
    margin-left: -8px;
    margin-top: -8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
