[x-cloak] {
    display: none !important;
}

.user-avatar {
    width: 64px;
    height: 64px;
}

.user-avatar-decoration {
    width: 80px;
    height: 80px;
    margin-left: -8px;
    margin-top: -8px;
}

.discord-status-pill {
    display: inline-block;
    margin-right: 2px;
    width: 8px;
    margin-bottom: 0.05rem;
    height: 8px;
    border-radius: 50%;
}

.discord-status-pill-online {
    background-color: #3ba55d;
}

.discord-status-pill-offline {
    background-color: #747f8d;
}

.discord-badge {
    width: 16px;
    height: 16px;
    margin-bottom: 0.1rem;
}
