::placeholder {
    color: $gray-500 !important;
    opacity: 1;
}

footer {
    background-color: #23272A;
}

.navbar {
    .dropdown {
        .dropdown-menu {
            .dropdown-item:hover, .dropdown-item:focus {
                background-color: $gray-800;
            }
        }
    }
}

.discord-status-pill {
    display: inline-block;
    margin-right: 2px;
    width: 8px;
    margin-bottom: 0.05rem;
    height: 8px;
    border-radius: 50%;
}

.discord-status-pill-online {
    background-color: #3ba55d;
}

.discord-status-pill-offline {
    background-color: #747f8d;
}

.discord-badge {
    width: 16px;
    height: 16px;
    margin-bottom: 0.1rem;
}

.tools-list-item {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.tools-list-item:hover {
    top: -3px;
}


#guildlist {
    .bg-cards-grey {
        background: #373d4c;
    }

    .discord-badge {
        width: 16px;
        height: 16px;
        margin-top: -0.2rem;
    }

    .bg-cards-grey:hover {
        background: #404652 !important;
    }
}

#snowflake {
    button:disabled {
        cursor: not-allowed;
        pointer-events: all;
    }
}

#help {
    h2 {
        a {
            opacity: 50%;
        }
    }
}
